<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="cup_holder_tray" params="cup_holder_tray_name">

<link name = "${cup_holder_tray_name}">
<visual>
      <geometry>
        <cylinder length="0.090" radius="0.160"/>
      </geometry>
      <material name="blue" />
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.090" radius="0.160"/>
      </geometry>
    </collision>
</link>

</xacro:macro>
</robot>